*{
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}
.Container-mensagens{
  width: 600px;
  height: 90vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px; 
  background-color: #D6D58E;

}
.Container{
  margin-top: 20px;
  height: 90vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* background: green; */
}
.componenteEu{
  background-color: #61dafb;
  max-width: 100px;
  min-width: 100px;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  margin-bottom: 10px;
  flex-direction: column;
  /* overflow: auto; */

}

.componenteProximo{
  background-color: #61dafb;
  min-width: 100px;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
  flex-direction: column;
  box-sizing: 20px;
  margin-bottom: 10px;
  
  /* overflow: auto; */

}
